.Shapka {
    grid-area: a; 
    color: rgb(229, 255, 0);
    background: url(Фон3.jpg) 1% 1% no-repeat ;
    text-align: center;

    padding-top: 0px;
    padding-right: 80px;
    padding-left: 80px;
    padding-bottom:0px ;

    display: grid;
    grid-template-rows:1fr ;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

}